<a href="https://colab.research.google.com/github/jasonhouse1/TKU-AI-411631327/blob/main/0320%E5%AF%A6%E7%BF%92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 0
a +=1
print (a)

1

In [ ]:
a=1
a*=3
print(a)

3

In [ ]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

In [ ]:
x,y=10,20
print=(x,y)
x,y=y,x
print=(x,y)

In [ ]:
y= 10==5
print(y)
y=10!=10
print(y)

In [ ]:
x=(10>8)and(20>10)
print(x)

In [ ]:
x=(10>8)or(20>10)
print(x)
x=(10)
print(x)

TypeError: 'tuple' object is not callable

In [ ]:
x = not(10<8)
print(x)

TypeError: 'tuple' object is not callable

In [ ]:
print(x)

In [ ]:
x= not(10>8)
x=(10>8)and(20>10)
print(x)

In [ ]:
import random
random.random()

0.8141828757832134

In [ ]:
print(random.randint(1, 10))#產生1到10的一個隨機數
print(random.random())#產生0到1之間的隨機福點數
print(random.uniform(1,1,5,4))
print(random.choice('Hello'))
print(random.randrange(1,100,2))

In [28]:
No = input("輸入你的學號:")
print(No)

輸入你的學號:411631327

TypeError: 'tuple' object is not callable

In [ ]:
numbers = [1,2,3,4,5]
print(sum(numbers))

In [31]:
a = input('411631327' + "姓名")
print(a)

411631327姓名邱振營

TypeError: 'tuple' object is not callable